#replay-social {
	background: url('/imgassets/logo_link.png');
	height: 40px;
	padding: 0px;
	width: 119px;
}

#adastra-social {
	background: url('/imgassets/adastra.png');
	height: 40px;
	padding: 0px;
	width: 40px;
}

#wielosfer-social {
	background: url('/imgassets/wielosfer.png');
	height: 40px;
	padding: 0px;
	width: 66px;
}
